__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
.vscode/

data/*
!data/.gitkeep
!data/manifests/
runs/*
!runs/.gitkeep

*.pt
*.pkl
*.zip
*.txt

paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.bbl
paper/*.blg
